
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 37px;
    font-weight: 700;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
}

.ir-para-criacao{
    width: 340px;
    height: 181px;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 100px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ir-para-criacao p{
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
}

.ir-para-criacao span{
    margin-top: 7px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.ir-para-criacao button{
    width: 152px;
    height: 40px;
    border-radius: 50px;
    color: #EC362D;
    border: 1px dashed #EC362D;
}

.primeira-tela{
    margin-top: 38px;
}

.primeira-tela p{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 14px;
    margin-left: 18px;
}

.seus-quizzes{
    font-weight: 700;
    font-size: 20px;
    margin-top: 107px;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seus-quizzes ion-icon{
    width: 31px;
    height: 31px;
    color: #EC362D;
}

.primeira-tela ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primeira-tela li{
    margin-bottom: 14px;
}

.primeira-tela img{
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
}

.efeitos{
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) , #000000 );
    z-index: 2; 
    
}

.primeira-tela .titulos{
    width: 301px;
    height: 54px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    margin-top: 120px;
    margin-left: 18px;
    margin-right: 18px;
}

.esconder{
    display: none;
}