
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 69px;
    width: 100%;
    background-color: #EC362D;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 37px;
    font-weight: 700;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
}

.primeira-tela{
    margin-top: 316px;
}

.primeira-tela p{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 14px;
    margin-left: 18px;
}

.primeira-tela ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primeira-tela li{
    margin-bottom: 14px;
}

.primeira-tela img{
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
}

.efeitos{
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) , #000000 );
    z-index: 2; 
    
}

.primeira-tela .titulos{
    width: 301px;
    height: 54px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 19px;
    position: absolute;
    z-index: 3;
    margin-top: 120px;
    margin-left: 18px;
    margin-right: 18px;
}

.esconder{
    display: none;
}